<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Timestamp Microservice</h1>
    <p>Send a natural language date or a unix timestamp in the following way.</p>
    <p>https://mircoservice-acm.herokuapp.com/December%2015,%202015</p>
    <p>https://mircoservice-acm.herokuapp.com/1450152000</p>
  </div>
</div>


</body>
</html>
